# NeoForge Access Transformer for Meteor Client 1.21.1

public net.minecraft.client.resources.SkinManager$TextureCache
public net.minecraft.client.renderer.RenderType$OutlineProperty
public net.minecraft.client.particle.FireworkParticles$SparkParticle
public net.minecraft.network.protocol.game.ServerboundInteractPacket$ActionType
public net.minecraft.network.protocol.game.ServerboundInteractPacket$InteractionAtLocationAction
public net.minecraft.network.protocol.game.ServerboundInteractPacket$Action
public net.minecraft.client.multiplayer.ClientChunkCache$Storage
public-f net.minecraft.client.player.AbstractClientPlayer playerInfo
public-f net.minecraft.client.model.geom.ModelPart cubes
public-f net.minecraft.client.model.geom.ModelPart children
public net.minecraft.client.model.geom.ModelPart$Polygon
public net.minecraft.client.model.geom.ModelPart$Vertex
public-f net.minecraft.client.model.geom.ModelPart$Cube polygons
public-f net.minecraft.client.model.AgeableListModel scaleHead
public-f net.minecraft.client.model.AgeableListModel babyYHeadOffset
public-f net.minecraft.client.model.AgeableListModel babyZHeadOffset
public-f net.minecraft.client.model.AgeableListModel babyHeadScale
public-f net.minecraft.client.model.AgeableListModel babyBodyScale
public-f net.minecraft.client.model.AgeableListModel bodyYOffset
public-f net.minecraft.client.model.LlamaModel head
public-f net.minecraft.client.model.LlamaModel body
public-f net.minecraft.client.model.LlamaModel rightHindLeg
public-f net.minecraft.client.model.LlamaModel leftHindLeg
public-f net.minecraft.client.model.LlamaModel rightFrontLeg
public-f net.minecraft.client.model.LlamaModel leftFrontLeg
public-f net.minecraft.client.model.LlamaModel rightChest
public-f net.minecraft.client.model.LlamaModel leftChest
public-f net.minecraft.client.model.RabbitModel leftRearFoot
public-f net.minecraft.client.model.RabbitModel rightRearFoot
public-f net.minecraft.client.model.RabbitModel leftHaunch
public-f net.minecraft.client.model.RabbitModel rightHaunch
public-f net.minecraft.client.model.RabbitModel body
public-f net.minecraft.client.model.RabbitModel leftFrontLeg
public-f net.minecraft.client.model.RabbitModel rightFrontLeg
public-f net.minecraft.client.model.RabbitModel head
public-f net.minecraft.client.model.RabbitModel rightEar
public-f net.minecraft.client.model.RabbitModel leftEar
public-f net.minecraft.client.model.RabbitModel tail
public-f net.minecraft.client.model.RabbitModel nose
public-f net.minecraft.client.renderer.entity.EndCrystalRenderer SIN_45
public-f net.minecraft.client.renderer.entity.EndCrystalRenderer cube
public-f net.minecraft.client.renderer.entity.EndCrystalRenderer glass
public-f net.minecraft.client.renderer.entity.EndCrystalRenderer base
public-f net.minecraft.client.renderer.entity.BoatRenderer boatResources
public net.minecraft.client.gui.MapRenderer$MapInstance
public-f net.minecraft.client.gui.MapRenderer$MapInstance texture
public net.minecraft.client.OptionInstance$ValueSet
public net.minecraft.client.gui.screens.inventory.BeaconScreen$BeaconButton
public net.minecraft.client.gui.screens.inventory.BeaconScreen$BeaconPowerButton
public net.minecraft.client.ResourceLoadStateTracker$ReloadState
public-f net.minecraft.world.level.block.state.BlockBehaviour hasCollision
public-f net.minecraft.core.Direction BY_2D_DATA
public-f net.minecraft.world.item.CreativeModeTabs INVENTORY
public-f net.minecraft.client.renderer.entity.ItemRenderer TRIDENT_MODEL
public-f net.minecraft.client.renderer.entity.ItemRenderer SPYGLASS_MODEL
public net.minecraft.world.effect.MobEffect$AttributeTemplate
